<<<<<<< HEAD
header{
    background-color: gray;
}
.landing{
    display: flex;  
    justify-content: center;
}
.hello{
    color:cadetblue; 
    text-align:center; 
    font-size:50px 
=======
header{
    background-color: gray;
}
tuto{
    color:red;
>>>>>>> fb2cce5477c8f49ed069561c67a2b115ccc9b634
}