{% extends "layout.html" %}
{% block header %}
{% endblock %}

{% block body %}

<div class="landing">
    <div class="hello">Welcome to our TimeLine Application!</div>
    <div class = "logininfo">아이디가 있으세요?-></div>    
    <button class="btn btn-primary btn-lg" onclick="document.location.href = '/login'">로그인</button><br>
    <div class = "logininfo">처음이세요? -></div>    
    <button class="btn btn-success btn-lg" onclick="document.location.href = '/createaccount'">회원가입</button>
</div>
{% endblock %}